/*
Colors used:
Background Color: #FCFCFC;
Text Color: #15101a;
Footer Background: #F2F2F2
*/
* {
  box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}
body {
  background-color: #fcfcfc;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #15101a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 100;
}

img {
  width: 100%;
}

.logo {
  max-width: 150px;
  transition: 0.2s opacity;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}


a {
  color: #15101a;
  text-decoration: none;
  /* No underlining */
  transition: 0.2s opacity;
}

a:hover,
a:focus {
  opacity: 0.8;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: rgba(21, 16, 26, 0.6);
}

.button {
  display: inline-block;
  background-color: transparent;
  color: #15101a;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
  border: 1.5px solid #15101a;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  color: rgba(21, 16, 26, 0.6);
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}
#project,
#hero {
  text-align: center;
}
#here {
  text-decoration: underline;
}

header {
  background-color: #FCFCFC;
  padding: 10px 0 6px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(21, 16, 26, 0.2);
  -moz-box-shadow: 0px 0px 2px 0px rgba(21, 16, 26, 0.2);
  box-shadow: 0px 0px 2px 0px rgba(21, 16, 26, 0.2);
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  font-weight: 700;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 1px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 20px 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 15px 0;
  text-align: center;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

main {
  padding-top: 49px;
}

footer {
  background-color: #f2f2f2;
  margin: 30px 0 0 0;
  padding: 15px 0 5px 0;
  text-align: center;
}

footer svg {
  width: 45px;
  height: auto;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  margin: 5px;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  main {
    padding-top: 130px;
  }
#work {
  margin-top: 55px;
}
  nav {
    width: auto;
    float: right;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul>li>a {
    font-size: 21px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .logo {
    max-width: 170px;
    padding: 15px 0;
  }

  body {
    font-size: 18px;
  }

  .square img {
    max-width: 220px;
    float: left;
    margin-right: 22px;
    margin-bottom: 12px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .col-md-5 {
    width: 41.66%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-9 {
    width: 75%;
  }

  .container {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }
}
