/*
Colors used:
Background Color: #FCFCFC;
Text Color: #15101a;
Footer Background: #F2F2F2
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #15101a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 100;
}

img {
  width: 100%;
}

.logo {
  max-width: 170px;
  transition: 0.2s opacity;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.berlin-illustration {
  width: 100%;
max-width: 100%;
height: auto;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

a {
  color: #15101a;
  text-decoration: none; /* No underlining */
  transition: 0.2s opacity;
}

a:hover,
a:focus {
  opacity: 0.8;
  text-decoration: none;
}
a:active { /* selected link */
  color: rgba(21,16,26,0.6);
}

.button {
  display: inline-block;
  background-color: transparent;
  color: #15101a;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
  border: 1.5px solid #15101a;
  border-radius: 3px;
  transition: 0.2s opacity;
}
.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
}
.button:active {
  color: rgba(21,16,26,0.6);
}

/* Layout styling */

.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #15101a; }

#about-page h2,
#hero {
  text-align: center;
}

header {
  background-color: #FCFCFC;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(21, 16, 26, 0.2);
  -moz-box-shadow:    0px 0px 2px 0px rgba(21, 16, 26, 0.2);
  box-shadow:         0px 0px 2px 0px rgba(21, 16, 26, 0.2);
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 700;
}

main {
  padding-top: 120px;
}

footer {
  background-color: #f2f2f2;
  margin: 25px 0 0 0;
  padding: 30px 0;
  text-align: center;
}

footer svg {
   width: 45px;
   height: auto;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
   margin: 5px;
}

@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
    width: auto;
    float: right;
  }
.logo {padding: 15px 0;}
body {
    font-size: 18px;
  }
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#about-page h3 { margin-top: 0;}
}

@media only screen and (min-width: 1024px) {
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-9 {
    width: 75%;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
